@font-face {
  font-family: "Helvetica Monospaced"; 
    src: url("../assets/HelveticaMonospaced.eot"); 
    src: url("../assets/HelveticaMonospaced.eot?#iefix") format("embedded-opentype"), 
         url("../assets/HelveticaMonospaced.woff2") format("woff2"), 
         url("../assets/HelveticaMonospaced.woff") format("woff"), 
         url("../assets/HelveticaMonospaced.ttf") format("truetype"), 
         url("../assets/HelveticaMonospaced.svg#Helvetica Monospaced") format("svg"); 
}

html, body {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
  font-family: "Helvetica Monospaced", Helvetica, Arial sans-serif;
}
