&-breadcrumb {
    @extend .stol-subtext;
    @apply tracking-tighter;
    a {
        @apply inline-block;
    }
    i {
        @apply inline-block text-center w-6 text-xxs md:w-7;
    }
    &__notmobile {
        @apply hidden md:block;
    }
    &__mobile {
        @apply pt-6 md:hidden;
    }
}
&-article {
    @apply relative w-full px-3 pt-6 relative space-y-6;
    @apply md:px-5 md:pt-16 xl:pt-18 xl:pl-10 xl:pr-8 xl:flex-initial xl:border-r xl:border-gray-900 xl:border-solid;
    &-head {
        @apply pt-0 md:pb-9 md:grid md:grid-cols-2 md:gap-8 xl:pb-12;
        .stol-tags-block:not([hidden]) {
            @apply mt-6 xl:mt-8;
        }
        &-block {
            &>h1 {
                @extend .h1;
                @apply uppercase my-4 md:mt-0;
            }
            &>p {
                @extend .simpletext;
                @extend .p;
                @apply my-6;
            }
            .stol-button {
                @apply max-w-l-button;
            }
        }
    }
    &-gallery {
        @apply relative -mx-3 w-full+6 relative pb-4 md:mx-0 md:w-full;
        &-close {
            @apply absolute right-2 top-2 hidden;
        }
        &-content {
            @apply order-2 w-full;
        }
        .stol-teaser {
            @apply mb-0;
            &-image {
                @apply h-mgal md:h-tgal xl:h-dgal;
            }
            &-content {
                @apply transition-all hidden;
            }
        }
        // C O N T R O L S
        .stol-controls {
            &:not([hidden]) {
                @apply px-3 pt-5 relative;
            }
            &-counter {
                @apply flex-initial;
            }
            &-pagination {
                @apply hidden;
            }
            a.address{
                @extend .stol-subtext;
            }
        }
        &__full {
            @apply absolute top-0 left-0 right-0 bottom-0 m-0 p-0 pt-0 w-auto bg-gray-900 z-50;
            @apply xl:flex xl:flex-col justify-center xl:m-0;
            [x-ref=box]{
                @apply pt-10;
            }
            .stol {
                &-article-gallery {
                    &-close {
                        @apply block z-50;
                        .icon-close {
                            @apply text-xs text-white;
                        }
                    }
                    &-content {
                        @apply xl:m-0;
                    }
                }
                &-teaser {
                    @apply bg-gray-900 xl:flex-row;
                    &-image {
                        @apply bg-no-repeat bg-contain;
                    }
                    &-content:not([hidden]) {
                        @apply flex mt-16;
                        @apply xl:px-10 xl:py-0 xl:m-0 xl:mt-28 xl:flex-growonly xl:w-galtext;
                    }
                    &-text:not([hidden]) {
                        @apply text-white
                    }
                    &-date {
                        @extend .graytext;
                    }
                }
                &-controls:not([hidden]) {
                    @apply absolute z-50 mt-10 top-mgal md:top-tgal;
                    @apply xl:top-36 xl:relative xl:p-0 xl:m-0 xl:flex-initial xl:w-galctrl-w xl:ml-galctrl-off;
                    [class^="icon-"], [class*=" icon-"] {
                        @apply text-white border-white;
                    } 
                    .stol-controls{
                        &-gallery {
                            @apply hidden;
                        }
                        &-counter {
                            @apply text-white;
                        }
                    }
                    .stol-subtext {
                        @apply opacity-0;
                    }
                }
            }
        }
        &__info, &__click {
            .stol-teaser {
                &-content {
                    @apply absolute bottom-7 left-1/2 transform -translate-x-1/2 rounded-2xl; 
                    @apply bg-white border-gray-900 py-2 px-4 overflow-y-auto;
                    width: calc(100% - 100px);
                    max-height: calc(100% - 3rem);
                    & > p {
                        @apply text-xxs md:text-xs;
                    }
                }
            }
        }
        &__info {
            .stol-teaser {
                &-content {
                    @apply hidden xl:flex;
                }
            }
        }
        &__click {
            .stol-teaser {
                &-content {
                    @apply flex xl:hidden;
                }
            }
        }
    }
    &-text {
        @apply md:w-4/5 xl:w-3/4;
    }
    &-content {
        h1 {
            @extend .h1;
            @apply my-4 uppercase;
        }
        h2 {
            @extend .h2;
            @apply my-4 uppercase;
        }
        h3 {
            @extend .h3;
            @apply my-4 uppercase;
        }
        p, &>span {
            @extend .text;
            @extend .stol-article-text;
            @extend .simpletext;
            @apply block my-2.5 xl:my-3;
        }
        & > ul, & > ol {
            @extend .simpletext;
            @apply pl-6;
            & > li {
                & > ul, & > ol {
                    @extend .simpletext;
                    @apply pl-6;
                    & > li {
        
                    }
                }
            }
        }
        ol {
            @apply list-decimal;
        }
        ul {
            @apply list-disc;
        }
        table {
            @apply my-4;
            tr {
                @apply border-b border-gray-900;
                &:first-child, &:last-child { 
                    @apply border-none;
                }
                th {
                    @extend .h3;
                    @apply uppercase text-left;
                }
                td {
                    @extend .simpletext;
                    @apply  py-4;
                }
            }
        }
        address{
            @extend .stol-subtext;
            @apply py-4;
        }
        & > img, .stol-article-video {
            @extend .-x-pad;
            @apply md:mx-0 md:w-auto xl:mx-0 xl:w-auto; // clear -x-pad on md, xl
            @apply mb-4 mt-10 max-w-none;
            @apply md:max-w-full md:max-h-tgal md:mx-0 xl:max-h-dgal;
            & + address {
                @extend .stol-article-text;
                @apply pt-0 w-full;
            }
        }
        &-image-wrap { 
            @extend .stol-subtext;
            @extend .-x-pad;
            @apply md:mx-0 md:w-auto xl:mx-0 xl:w-auto;
            @apply mb-4 mt-10 text-center max-w-none; 
            @apply md:max-w-full;
            // apply table; // centered inside picture
            img, .stol-article-video {
                @apply md:max-w-full md:max-h-tgal md:mx-0 xl:max-h-dgal;
                // если строгий формат шаблона внутри блока article-content-image-wrap
                & + address {
                    // apply pt-4 text-center w-min inline-block min-w-full; // centered inside picture
                    @extend .stol-article-text;
                    @apply pt-4 text-left;
                }
            }
            p {
                width: auto;
            }
            address {
                // apply pt-4 text-center w-min inline-block min-w-full; // centered inside picture
                @extend .stol-article-text;
                @apply pt-4 text-left;
            }
        }
        blockquote {
            @extend .h3;
            @extend .stol-article-text;
            @apply mt-8 mb-4 uppercase;
            & + address {
                @apply pt-0;
            }
        }
    }
    &-block {
        @extend .x-pad;
        @apply py-5 md:grid md:grid-cols-2 md:space-y-0 md:pt-0 md:-mt-4;
        ul {
            @apply flex list-none pl-0;
            li {
                @apply mr-3;
            }
        }
    }
    &-inset {
        @apply my-6 -mx-3 px-3 py-6 w-auto border-gray-900 border-b border-t hover:bg-gray-100;
        @apply md:-mx-5 md:w-auto md:px-5;
        @apply xl:pl-10 xl:pr-8 xl:-ml-10 xl:-mr-8;
        &-title {
            @extend .stol-subtext;
            @apply mb-5;
            @apply  md:absolute md:left-h-teaser-img md:ml-10;
            @apply  xl:ml-15;
        }
        .stol-teaser {
            @apply mb-0 md:flex-row;
            &-image {
                @apply md:h-auto md:w-h-teaser-img md:flex-fix;
            }
            &-content:not([hidden]) {
                @apply md:mt-7 md:ml-2 md:space-y-1;
            }
            &-date {
                @apply md:hidden;
            }
            .stol-tags-block:not([hidden]) {
                .stol-tag {
                    @apply bg-white md:mt-3 md:mb-0 hover:bg-gray-900;
                }
            }
        }
        &:last-child {
            @apply mb-0;
        }
    }
    &-video {
        @apply pt-3 block items-center xl:pt-6;
        iframe {
            @apply h-mvideo md:h-tvideo xl:h-dvideo;
        }
    }
    &-embed {
        @apply pt-3 block items-center xl:pt-6;
        iframe {
        }
    }
    &-promo {
        @apply py-6;
    }
    &-share {
        @extend .h2;
        @apply uppercase mt-7;
    }
    &-social {
        @apply my-3 mb-7;
    }
    &-editor {
        @apply text-dcap;
    }
    &-tags-block {
        @apply pb-10;
    }

    &__static {
        @apply border-b border-gray-900 p-0 pb-10 md:pb-13 xl:pb-16;
    }
}