&-tag {
    @apply lowercase tracking-tight flex-initial inline-flex whitespace-nowrap border rounded-full border-gray-900 transition-all;
    @apply px-3 py-1.5 pb-1 mr-2 text-mtag bg-white bg-opacity-90 mb-2.5;
    @apply md:text-ttag md:pb-1 xl:text-dtag xl:pt-7px xl:pb-5px xl:px-4;
    &-label {
        @apply lowercase tracking-tight flex-initial inline-flex px-2.5 py-2 bg-white rounded-full absolute top-5 left-3 leading-3 text-center text-gray-900 text-mtag;
        @apply md:text-ttag xl:text-dtag xl:pt-8px xl:pb-6px xl:px-4;
    }
    &-white {
        @apply lowercase tracking-tight flex-initial inline-flex px-3 mr-2 pt-0.5 whitespace-nowrap rounded-full bg-white text-gray-900 border border-gray-900 border-solid text-mtag mb-3.5 transition-all leading-7;
        @apply md:text-ttag md:leading-6 xl:text-dtag xl:leading-9 xl:px-4 xl:mb-2.5;
        @apply hover:bg-gray-900 hover:text-white;
    }
    &-hidden {
        @apply hidden;
    }
    &__special {
        @apply lowercase text-white bg-gray-900;
    }
    &:hover {
        @apply transform scale-105 text-white bg-gray-900;
    }
    &[href="#hidetags"] {
        @apply border-0 px-2;
        i {
            font-size: 9px;
            padding-top: 1px;
        }
    }
}
&-tags-wrapper{
    position: relative;
    width: 100%;
}
&-tags-block{
    @apply relative opacity-100 transition-all;
    &:not([hidden]) {
        @apply leading-3 flex flex-wrap -mb-2.5 md:-mb-2.5 xl:-mb-2.5;
    }
    &__white:not([hidden]) {
        .stol-tag {
            @apply lowercase tracking-tight flex-initial inline-flex px-3 mr-2 pt-0.5 pb-0 whitespace-nowrap rounded-full bg-white bg-opacity-70 text-gray-900 border border-gray-900 border-solid text-mtag mb-3.5 transition-all leading-7;
            @apply md:text-ttag md:leading-6 xl:text-dtag xl:leading-9 xl:px-4 xl:mb-2.5;
            @apply hover:bg-gray-900 hover:text-white;
            &-hidden {
                @apply hidden;
            }
        }
    }
}