html, body {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
body {
  @apply antialiased text-gray-900 relative;
}
a {
  @apply transition-all duration-300 hover:text-orange-900;
}
.simpletext { font-family: Inter, Arial, Helvetica, sans-serif; }
.h0{ @apply text-mh0 md:text-th0 xl:text-dh0; }
.h1{ @apply text-mh1 md:text-th1 xl:text-dh1; }
.h2{ @apply text-mh2 md:text-th2 xl:text-dh2; }
.h3{ @apply text-mh3 md:text-th3 xl:text-dh3; }
.p{ @apply text-m md:text-t xl:text-d; }
.text{@apply text-mtext md:text-ttext xl:text-dtext;}
.cap{ @apply text-mcap md:text-tcap xl:text-dcap; }
.graytext { @apply text-gray-900 text-opacity-50; }
.hidden { display: none; }

.x-pad {
  @apply px-3 md:px-5 xl:pl-10 xl:pr-8;
  &__m0 {
    @apply px-0 md:px-5 xl:pl-10 xl:pr-8;
  }
}
.-x-pad {
  @apply -mx-3 md:-mx-5 xl:-ml-10 xl:-mr-8;
  @apply w-full+6 md:w-full+10 xl:w-full+18;
}

.stol {
  @apply mx-auto xl:max-w-8xl flex flex-col;

  &-vivid {
    @apply text-orange-900;
  }
  &-subtext {
    @extend .cap;
    @extend .graytext;
    @apply italic;
  }
  // M A I N

  &-content {
    @apply xl:flex xl:flex-row transition-all;
  }
  main {
    @apply relative xl:w-main-column; /*xl:flex xl:flex-row xl:flex-wrap; */
  }
  &-right {
    &-column {
      @apply border-l border-gray-900 -ml-w-hair -mr-w-hair xl:w-right-column;
      .stol-section {
        @apply xl:px-9 xl:pb-13;
      }
    }
    &-wrapper {
      @apply xl:flex xl:flex-col;
    }
  }

  &-input {
    @apply w-full px-2 italic leading-6 text-gray-900 bg-gray-200 h-11 pt-1 focus:outline-none;
  }

  &-button {
    @extend .cap;
    @apply block w-full pt-3.5 pb-2.5 text-center text-white bg-gray-900 px-9 uppercase my-6;
    &-more {
      @extend .stol-button;
      @apply md:w-auto md:-mx-5 xl:pt-4 xl:-ml-10 xl:-mr-5
    }
  }

  &-article-list {
    @apply md:flex md:flex-wrap md:grid md:grid-cols-2 md:gap-x-5 xl:grid-cols-3;
  }

  &-promo {
    @apply min-h-promo py-20 px-6 w-full flex flex-col space-y-6 items-center justify-center h-full mb-8 bg-gray-300;
    @apply md:px-10;
    &-logo {
      @apply relative w-20 h-20 mx-auto bg-center bg-cover;
    }
    &-content {
      @apply flex flex-col space-y-4 text-gray-900 border-gray-900;
    }
    &-title {
      @apply flex-initial w-full text-lg leading-6 text-center text-white uppercase;
    }
    &-text {
      @apply flex-initial w-full text-base text-center text-white;
    }
    &-wrapper {
      @extend .x-pad;
      @apply md:px-0 xl:px-0;
    }
    &__telegram {
      @apply bg-blue-400;
    }
  }

  &-subscribe {
    @apply py-25 px-6 w-full flex flex-col space-y-6 items-center justify-center h-full mb-8 bg-orange-900;
    @apply md:px-10;
    &-content {
      @apply space-y-7 text-gray-900 flex flex-col;
    }
    &-title {
      @extend .h1;
      @apply flex-initial w-full uppercase;
    }
    &-text {
      @extend .p;
      @apply flex-initial w-full;
    }
    &-wrapper {
      @extend .x-pad;
      @apply md:px-0 xl:px-0;
    }
  }
  
  &-input{
    @apply w-full px-2 italic leading-6 text-gray-900 bg-gray-200 h-11 pt-1 focus:outline-none;
  }

}