html, body {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}
a {
  @apply transition-all duration-300 hover:text-orange-900;
}
.simpletext { font-family: Inter, Arial, Helvetica, sans-serif; }
.h0{ @apply text-mh0 md:text-th0 xl:text-dh0; }
.h1{ @apply text-mh1 md:text-th1 xl:text-dh1; }
.h2{ @apply text-mh2 md:text-th2 xl:text-dh2; }
.h3{ @apply text-mh3 md:text-th3 xl:text-dh3; }
.p{ @apply text-m md:text-t xl:text-d; }
.text{@apply text-mtext md:text-ttext xl:text-dtext;}
.cap{ @apply text-mcap md:text-tcap xl:text-dcap; }

.stol {
  @apply mx-auto xl:max-w-8xl flex flex-col;

  // M A I N

  &-content {
    @apply xl:flex xl:flex-row transition-all;
  }
  main {
    @apply relative xl:w-main-column; /*xl:flex xl:flex-row xl:flex-wrap; */
  }
  &-right {
    &-column {
      @apply xl:w-right-column;
      .stol-section {
        @apply xl:px-9 xl:pb-13;
      }
    }
    &-wrapper {
      @apply xl:flex xl:flex-col;
    }
  }

  &-article-list {
    @apply md:flex md:flex-wrap md:grid md:grid-cols-2 md:gap-x-5 xl:grid-cols-3;
  }

  &-promo {
    @apply p-5 w-full;
  }
  
}