html,
body {
  overflow-x: hidden;
  padding: 0px !important;
  margin: 0px !important;
}

.stol {
  &-section {
    @apply relative border-b border-gray-900 border-solid;
    &__feature {
      // feature specific
    }
  }
  &-tag {
    @apply inline-flex px-2 py-1.5 mb-3 border rounded-full border-gray-900 text-xs;
    &-label {
      @apply inline-flex px-2.5 py-2 bg-white rounded-full absolute top-5 left-3 text-xs leading-3 text-center text-gray-900;
    }
    &-white {
      @apply inline-flex px-3 mb-3 rounded-full bg-white text-gray-900 text-ttag border border-gray-900 border-solid;
      &:hover {
        @apply bg-gray-900 text-white;
      }
    }
  }
  &-teaser {
    @apply flex flex-col space-y-6 pb-7 mb-9;
    &-image {
      @apply relative w-full bg-center bg-cover h-72;
    }
    &-content {
      @apply flex flex-col items-start justify-end px-3 space-y-4 text-gray-900 border-gray-900;
    }
    &__feature {
      @apply pb-3 lg:flex-row lg:border lg:border-gray-900 lg:pb-0 lg:h-80;
      .stol-teaser-image {
        @apply h-56 lg:w-1/2 lg:h-auto;
      }
      .stol-teaser-content {
        @apply lg:w-1/2 lg:h-auto lg:pb-10 lg:pt-13;
      }
    }
    &-controls {
      @apply flex flex-row w-full px-3 py-6;
    }
  }
}

button.showed {
  @apply block bg-gray-900 text-white;
  & > i {
    @apply hidden;
  }
  & > i.hidden {
    @apply block;
  }
}
