$color-gray: rgba(235,235,235,1);
$color-orange: rgba(255,75,0,1);
$color-orange-60: rgba(255,75,0,0.600);
$color-black: rgba(31,31,31,1);
$color-black-60: rgba(31,31,31,0.600);
$color-black-90: rgba(31,31,31,0.900);
$color-white: rgba(255,255,255,1);
$color-white-60: rgba(255,255,255,0.600);
@mixin text-style-desktop-h-1 {
	font-size:36px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:129.99999523162842px;
}
@mixin text-style-desktop-text {
	font-size:16px;
	font-family:"Inter";
	font-weight:normal;
	font-style:normal;
	line-height:148.00000190734863px;
}
@mixin text-style-desktop-caption {
	font-size:16px;
	font-family:"Inter";
	font-weight:lighter;
	font-style:italic;
	line-height:144.0000057220459px;
}
@mixin text-style-desktop-h-2 {
	font-size:22px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:120.00000476837158px;
}
@mixin text-style-desktop-h-3 {
	font-size:16px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:144.0000057220459px;
}
@mixin text-style-desktop-tag {
	font-size:14px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:100px;
}
@mixin text-style-tablet-h-1 {
	font-size:26px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:129.99999523162842px;
}
@mixin text-style-tablet-h-2 {
	font-size:18px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:120.00000476837158px;
}
@mixin text-style-tablet-h-3 {
	font-size:14px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:144.0000057220459px;
}
@mixin text-style-tablet-text {
	font-size:14px;
	font-family:"Inter";
	font-weight:normal;
	font-style:normal;
	line-height:148.00000190734863px;
}
@mixin text-style-tablet-caption {
	font-size:14px;
	font-family:"Inter";
	font-weight:lighter;
	font-style:italic;
	line-height:149.00000095367432px;
}
@mixin text-style-tablet-tag {
	font-size:12px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:100px;
}
@mixin text-style-mobile-h-1 {
	font-size:22px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:129.99999523162842px;
}
@mixin text-style-mobile-h-2 {
	font-size:18px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:120.00000476837158px;
}
@mixin text-style-mobile-h-3 {
	font-size:14px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:144.0000057220459px;
}
@mixin text-style-mobile-text {
	font-size:14px;
	font-family:"Inter";
	font-weight:normal;
	font-style:normal;
	line-height:149.00000095367432px;
}
@mixin text-style-mobile-caption {
	font-size:14px;
	font-family:"Inter";
	font-weight:lighter;
	font-style:italic;
	line-height:148.00000190734863px;
}
@mixin text-style-mobile-tag {
	font-size:12px;
	font-family:"Helvetica Monospaced W1G";
	font-weight:normal;
	font-style:normal;
	line-height:100px;
}
